/* MEDIA QUERIES FOR DESKTOP */
@media only screen and (min-width: 1024px) {
    /*============ GLOBALS ==========*/
    .container-large {
        width: 90%;
        max-width: 120rem;
        /* I write it this way to avoid overwritting margin top and bottom values */
        margin-left: auto;
        margin-right: auto;
    }
    /*============ HOME ============= */
    /* hero */
    .hero-home {
        background-position: 0 -10rem;
    }
    /*--- Header ---*/
    header .header-content {
        flex-direction: row;
        justify-content: space-between;
    }
    header ul li {
        display: inline-block;
        margin-right: 2rem;
    }
    header ul li a {
        position: relative;
        transition: all 200ms ease-in;
    }
    header ul:hover li a{
        filter: blur(1px);
        opacity: .7;
    }
    header ul li a:hover {
        transform: scale(1.2);
        opacity: 1;
        filter: none;
        font-weight: 700;
    }
    .navigation .toggle-menu-icon {
        display: none;
    }
    .navigation #menu.hide {
        display: flex;
    }
    /* ======== BUENOS AIRES PAGE =========== */
    /* Events */
    .events-container-page {
        grid-template-columns: repeat(3, 1fr);
    }
    /* Gallery */
    .gallery-container {
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }
    /* ======== JOIN US PAGE =========== */
    .membership-level-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* ========  DIRECTORY  ============ */
    #directoryContainer.grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}